@import url('/css/base.css');

#siteHeader {
    padding: calc(2 * var(--padding));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#siteName h1 {
    font-family: 'MagicRetro', serif;
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--prefer-color);
}

#siteName {
    text-decoration: none;
}

#siteNav a {
    color: inherit;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: var(--body-font-bold);
}

.input_group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.range .range-options {
    display: flex;
    justify-content: space-between;
}
