<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <header id="siteHeader">
        <a href="/" id="siteName">
            <h1 >Bunty</h1>
        </a>
        <nav id="siteNav">
            <a href="/posts" title="View your recent Posts">
                Posts
            </a>
        </nav>
    </header>
    <main>
        <h2>Sorry {{actor.name}}!</h2>
        <p>We don't have enough information yet to help</p>
        <p>Why don't you create a <a href="/posts/new" title="Create a new Post">new Post</a> so we can be more helpful</p>
    </main>
    <footer>
        Copyright &copy; McK-P, 2024 - Present 
    </footer>
</body>

</html>